body {
    margin: 0px;
}

textarea {
    resize: none;
}

#main {
    padding: 20px;
}

#header {
    height: 65px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: gray;
}

#footer {
    background-color: lightgray;
    height: 50px;
    padding: 15px;
}

#header_main {
    margin-right: 0px;
}

#header_title {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    padding-top: 10px;
    padding-left: 40px;
}

#header_title:hover {
    text-decoration: none;
}

.header-link {
    font-size: 18px;
    padding-top: 15px;
}

.header-link, .footer-word, .footer-link {
    color: gray;
}

.header-link:hover, .footer-link:hover {
    cursor: pointer;
    color: black;
    text-decoration: none;
}

#header_login{
    padding-left: 60px;
}

#header_sign_up {
    color: tomato;
    padding-left: 35px
}

#header_sign_up:hover {
    color: red;
}

#header_list {
    cursor: pointer;
    margin-top: 15px;
    margin-left: 25px;
    list-style-type: none;
}

#dropdown_list {
    margin-left: -100px;
}

#content {
    min-height: 100vh;
    margin-bottom: -50px;
}

#blank {
    width: 100vw;
    height: 50px;
}

#footer_about, #footer_comment, #footer_help {
    padding-left: 40px;
}

#footer_github {
    width: 25px;
    height: 25px;
    margin-left: 54px;
    opacity: 0.6;
}

#footer_github:hover {
    opacity: 1;
}

#feedback_star_group {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 5px;
    font-size: 26px;
    color: gold;
}

#feedback_star_group span {
    margin-left: 3px;
}

#feedback_btn {
    margin-bottom: 5px;
    margin-left: 60px;
}